section.related-recipes {
  margin-bottom: 2rem;
  a {
    display: block;
    width: 100%;
  }
  h4 {
    margin-bottom: 0.8rem;
  }
  .related-container {
    display: flex;
    align-content: center;
    gap: 1.5rem;
  }
  .related-recipe {
    img {
      // @extend .img;
      height: 170px;
      border-radius: $borderRadius;
    }
    h5 {
      margin-bottom: 0.2rem;

      color: $grey-700;
    }
    p {
      color: $grey-500;
      margin-top: 0.5rem;
      line-height: 1;
      margin-bottom: 0;
      letter-spacing: $letterSpacing;
    }
  }
}
