.recipe-page {
  .recipe-hero {
    display: grid;
    gap: 3rem;

    &-img {
      height: 300px;
      border-radius: $borderRadius;
    }

    .recipe-info p {
      color: $grey-600;
    }

    .recipe-icons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      margin: 2rem 0;
      text-align: center;

      .fas {
        font-size: 1.5rem;
        color: $primary-500;
      }

      h5,
      p {
        margin-bottom: 0;
        font-size: 0.85rem;
      }

      p {
        color: $grey-600;
      }
    }

    .recipe-tags {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-size: 0.7em;
      font-weight: 600;

      a {
        background: $primary-500;
        color: $white;
        border-radius: $borderRadius;
        padding: 0.05rem 0.5rem;
        margin: 0 0.25rem;
        text-transform: capitalize;
      }
    }
  }

  .recipe-content {
    padding: 3rem 0;
    display: grid;
    gap: 2rem 5rem;

    .single-instruction {
      & > p {
        color: $grey-700;
      }
      header {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 1.5rem;

        p {
          color: $primary-500;
          text-transform: uppercase;
          font-weight: 600;
          margin-bottom: 0;
        }
        div {
          height: 2px;
          background: $grey-300;
        }
      }
    }

    .second-column {
      display: grid;
      row-gap: 2rem;

      .single-ingredient {
        color: $grey-700;
        border-bottom: 2px solid $grey-300;
        padding-bottom: 0.75rem;
      }
      .single-tool {
        color: $primary-500;
        text-transform: capitalize;
        border-bottom: 2px solid $grey-300;
        padding-bottom: 0.75rem;
      }
    }
  }

  @media screen and (min-width: 992px) {
    .recipe-hero {
      grid-template-columns: 4fr 5fr;
      align-items: center;
    }

    .recipe-content {
      grid-template-columns: 2fr 1fr;
    }
  }
}
