@mixin flex($justify-content: space-between, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-column($justify-content: center, $align-items: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin page-setup() {
  width: 90vw;
  max-width: $max-width;
  margin: 0 auto;
  padding-top: 2rem;
  min-height: calc(100vh - (6rem + 4rem));
}
